.ThirdSectionHtml {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  width: 108%;
  margin-top: 10rem;

  transform: translateX(-4%);
  &__Content {
    position: sticky;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    top: 10%;
  }
}
.ThirdSectionCard {
  border: 2px solid rgba($color: #000000, $alpha: 0.3);
  border-radius: 5px;
  width: 98vw;
  height: 90svh;
  @media screen and (max-width: 768px) {
    height: 85svh;
    width: 98vw;
  }
  overflow: hidden;
  transition-duration: 300ms;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  &__Image {
    overflow: hidden;
    transition-duration: 300ms;
    position: relative;
    width: 100%;
    height: 100%;

    img {
      transition-duration: 300ms;
      overflow: hidden;
      width: 100%;
      height: 100%;
      @media screen and (max-width: 768px) {
        height: 70%;
      }
    }
    span {
      position: absolute;
      bottom: -0%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      color: white;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      width: max-content;
      height: fit-content;
      text-align: center;
      background-color: #222222;
      border-radius: 10px;
    }
  }
  &__Text {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: absolute;
    bottom: 0%;
    padding: 2rem 1rem;
    height: 40%;
    @media screen and (max-width: 768px) {
      padding: 1rem 0.5rem;
      height: 60%;
    }
    background-color: rgba($color: #000000, $alpha: 0.9);
  }
}
.ThirdSectionCardText {
  &__Headers {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
    justify-content: space-between;
    h4 {
      font-size: 1.8rem;
      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
      font-weight: 700;
      color: #f7934c;
    }
  }
  &__Buttons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 1rem;
    @media screen and (max-width: 768px) {
      gap: 0.5rem;
    }
    .info {
      background-color: #dc2626 !important;
    }
    a {
      background-color: #f7934c;
      color: white;
      border: none;
      padding: 0.4rem 0.6rem;
      border-radius: 1px;
      @media screen and (max-width: 768px) {
        padding: 0.4rem 0.5rem;
        font-size: 1rem;
      }
      font-size: 1.3rem;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #f7934c;
        color: white;
        transform: translateY(-0.3rem);
      }
    }
  }
  &__Info {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    max-width: 70%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      font-size: 0.85rem;
    }
  }
}
