.MainContactContainer {
  width: 40%;
  max-width: 35rem;
  @media screen and (max-width: 1240px) and (min-width: 1001px) {
    width: 50%;
  }

  @media screen and (max-width: 1000px) and (min-width: 600px) {
    width: 60%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.ContactMe__wrapper {
  width: 40%;

  height: fit-content;
  background-color: #fefcfd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
.ContactMe {
  width: 80%;
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    :first-child {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0.5rem;
      }
    }
    legend {
      font-size: 1.5rem;
      font-weight: 800;
      align-self: center;
      color: #2e3138;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      gap: 1rem;
      @media screen and (max-width: 768px) {
        text-align: center;
        font-size: 1.3rem;
      }
    }
    fieldset {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    // button {
    //   padding: 0.4rem 1rem;
    //   width: 100%;
    //   align-self: center;
    //   cursor: pointer;
    //   background-color: #ef4444;
    //   font-size: 1.1rem;
    //   text-align: center;
    //   @media screen and (max-width: 768px) {
    //     font-size: 1rem;
    //   }
    //   padding: 0.6rem 0.8rem;
    //   font-weight: 800;
    //   color: white;
    //   transition: all 0.3s ease;
    //   border-radius: 2px;
    //   &:hover {
    //     transform: translateY(-3px);
    //     box-shadow:
    //       rgba(0, 0, 0, 0.25) 0px 54px 55px,
    //       rgba(0, 0, 0, 0.12) 0px -12px 30px,
    //       rgba(0, 0, 0, 0.12) 0px 4px 6px,
    //       rgba(0, 0, 0, 0.17) 0px 12px 13px,
    //       rgba(0, 0, 0, 0.09) 0px -3px 5px;
    //   }
    // }
  }
  &__Input {
    position: relative;
    width: 100%;
    height: 100%;
    input + label {
      top: -5%;
    }
    label {
      font-size: 1rem;
      font-weight: 700;
      color: #373737;
      position: absolute;
      left: 0.5rem;
      @media screen and (max-width: 768px) {
        font-size: 0.9rem;
      }
    }
    input,
    textarea {
      height: 100%;
      width: 100%;
      background-color: white;
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
      border: 1px solid gray;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 500;
      color: #373737;
    }
  }
}
.ContactMe__MainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ContactMe__Socials {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  h4 {
    font-weight: 800;
    color: #2e3138;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: center;
    span:nth-of-type(1) {
      font-size: 1.6rem;
      color: #083d77;
    }
  }
}
.Socials {
  &__Content {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    svg {
      font-size: 1.8rem;
      color: #3c4f76;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        font-size: 1.8rem;
      }
    }
    span {
      color: #da4167;
      font-size: 1.2rem;
      font-weight: 800;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      gap: 0.5rem;
    }
  }
  &__Icons {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
  }
}

.ContactMe__Input {
  div:nth-last-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
