@import url("https://fonts.googleapis.com/css2?family=Anton&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.light {
  --primary-color: #020617;
  --link-color: #197bbd;
  --list-color: rgb(31 41 55 / 1);
  --code-color: #020617;
  --red-color: #ef4444;
  --pre-bg-color: #e2e8f0;
  --strong-color: #020617;
}
.dark {
  --primary-color: #fcfffc;
  --link-color: #197bbd;
  --list-color: rgb(233, 229, 226);
  --code-color: white;
  --red-color: #ef4444;
  --pre-bg-color: #1e293b;
  --strong-color: white;
}
.Project {
  width: 64%;
  padding-top: 2rem;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    li {
      margin-left: 40px; /* Adjust the value as needed */
    }
    ul {
      margin-left: 40px; /* Adjust the value as needed */
    }
  }
  &__Content {
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a {
      text-decoration: underline;
      text-decoration-color: var(--primary-color);
      text-decoration-thickness: 1px;
      color: var(--primary-color);
    }
    pre {
      background-color: var(--pre-bg-color);
      padding: 1.5rem;
      border-radius: 10px;
      color: var(--code-color);
      font-weight: 500;
      max-width: 100%;
      word-break: break-all;
      white-space: pre-wrap;
    }
    strong {
      color: var(--strong-color);
    }

    p {
      color: var(--list-color);
      font-size: 1.1rem;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
      font-family: "Ubuntu", "Roboto";
    }
    h6 {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 2.7rem;
      font-weight: 800;
      width: fit-content;
      color: var(--primary-color);

      :visited,
      :active {
        color: var(--primary-color);
      }
      text-decoration-thickness: 3px;
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
      font-family: "Ubuntu", "Roboto";
    }
    h2 {
      font-size: 1.87rem;
      font-weight: 700;
      color: var(--primary-color);
      :visited,
      :active {
        color: var(--primary-color);
      }
      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
      }
      font-family: "Ubuntu", "Roboto";
    }
    h4 {
      font-size: 1.55rem;
      font-weight: 600;
      color: var(--primary-color);
      :visited,
      :active {
        color: var(--primary-color);
      }
      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
      font-family: "Ubuntu", "Roboto";
    }
    h5 {
      color: var(--red-color);
      font-weight: 700;
      font-size: 1.2rem;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        font-size: 1.1rem;
        font-weight: 400;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
        list-style: circle;
        color: var(--list-color);
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}
