.OtherThirdSectionHtml {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  width: 108%;
  margin-top: 10rem;
  transform: translateX(-4%);
  &__Content {
    position: sticky;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    top: 10%;
  }
}
.ThirdSectionCard {
  border: 2px solid rgba($color: #000000, $alpha: 0.3);
  border-radius: 5px;
  width: 90vw;
  height: 90svh;
  overflow: hidden;
  transition-duration: 300ms;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  &__Image {
    overflow: hidden;
    transition-duration: 300ms;
    position: relative;
    width: 100%;
    height: 100%;

    img {
      transition-duration: 300ms;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
    // &--inactive {
    //   img {
    //     filter: blur(3px) brightness(0.5);
    //     scale: 1.1;
    //   }
    // }
    // &--active {
    //   img {
    //     filter: blur(0px) brightness(1);
    //     scale: 1;
    //   }
    // }
    span {
      position: absolute;
      bottom: -0%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      color: white;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      width: max-content;
      height: fit-content;
      text-align: center;
      background-color: #222222;
      border-radius: 10px;
    }
  }
  &__Text {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: absolute;
    bottom: 0%;
    padding: 2rem 1rem;
    background-color: rgba($color: #000000, $alpha: 0.8);
  }
}
.ThirdSectionCardText {
  &__Headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h4 {
      font-size: 1.8rem;
      font-weight: 700;
      color: #f7934c;
    }
  }
  &__Buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    button {
      background-color: #f7934c;
      color: white;
      border: none;
      padding: 0.4rem 0.6rem;
      font-size: 1.3rem;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #f7934c;
        color: white;
        transform: translateY(-0.5rem);
      }
    }
  }
  &__Info {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    max-width: 70%;
  }
}
